Source: macsum
Section: unknown
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: macsum
Architecture: all
Depends: ${misc:Depends}
Description: Ethernet MAC from text string
 Creates an Ethernet MAC from a text string hashed with djb2.
